<!DOCTYPE html>
<html>
<head>
	<title>CareNav Admin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css">
@import url("lib/bootstrap-2.1.1.css");
@import url("admin.css");
	</style>
</head>
<body>
	<noscript>
		<h1>JavaScript is required to use this application.</h1>
	</noscript>

	<div class="wrapper"></div>

	<div class="surveyResults modal hide"></div>
	<div class="surveyResult modal hide"></div>

	<script class="main template" type="text/html">
		<h1>Admin dashboard</h1>
		<div>
			<table class="table table-striped">
				<tbody class="patients">
				</tbody>
			</table>
		</div>

		<%= templates.render('loadingIndicator') %>
	</script>

	<script class="patientListItem template" type="text/html">
		<tr class="patient" data-id="<%- obj.id %>">
			<td>
				<span class="name"><%- obj.name %></span>
				<button class="viewResults btn">View results</button>
				<button class="assign btn">Assign ESAS</button>
			</td>
		</tr>
	</script>

	<script class="surveyResultsModal template" type="text/html">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3>Survey results</h3>
		</div>
		<div class="modal-body">
			<table class="table table-striped">
				<tbody class="surveyResults">
				</tbody>
			</table>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Close</button>
		</div>

		<%= templates.render('loadingIndicator') %>
	</script>

	<script class="surveyResultListItem template" type="text/html">
		<tr class="surveyResult" data-id="<%- obj.id %>">
			<td>
				<a href="#"><%- obj.name %></a>
			</td>
		</tr>
	</script>

	<script class="surveyResultModal template" type="text/html">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3><%- obj.name %></h3>
		</div>
		<div class="modal-body survey">
			<%= _.template(obj.htmlTemplate)(obj) %>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Close</button>
		</div>
	</script>

	<script class="loadingIndicator template" type="text/html">
		<img class="loadingIndicator" src="loading.gif">
	</script>

	<script src="lib/jquery-1.8.2.js"></script>
	<script src="lib/bootstrap-2.1.1.js"></script>
	<script src="lib/moment-1.7.0.js"></script>
	<script src="lib/underscore-1.3.3.js"></script>
	<script src="server.js"></script>
	<script src="admin.js"></script>
</body>
</html>

